@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --Very-dark-blue-main-bg: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
  --Inter-font: 'Inter', sans-serif;
  --Lexend-Deca-font: 'Lexend Deca', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    min-height: 100vh ;
    background-color: var(--Very-dark-blue-main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--Inter-font);
    font-size: 20px;
}

.preview-card{
    background-color: var(--Dark-desaturated-blue-card-bg);
    display: flex;
    border-radius: 10px ;
    overflow: hidden;  
}

.image-container, .preview{
    flex: 1 1 300px;
}

.image-container{
    background-image: url(./images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    order: 1;
} 

.image-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Soft-violet-accent);
    opacity: 0.5;
}

.preview{
    padding: 4rem;
}

.preview h1{
    font-size: 2em;
    color: var(--White-main-heading-stats);
    margin-bottom: 0.6em;
}

.preview h1 span{
    color: var(--Soft-violet-accent);
}

.preview > p, .preview > .statistiques{
    width: 85%;
}

.preview > p{
    color: var(--Slightly-transparent-white-main-paragraph);
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 3.8em;
}

.preview .statistiques{
    display: flex;
    justify-content: space-between;
}

.preview .statistiques h2{
    color: var(--White-main-heading-stats);
    margin-bottom: 5px;
    font-size: 1.2em;
}

.preview .statistiques p{
    color: var(--Slightly-transparent-white-stat-headings);
    font-size: 0.6em;
    letter-spacing: 2px;
}


@media (max-width: 376px){
    .preview-card{
        flex-direction: column;
    }

    .image-container{
        background-image: url(./images/image-header-mobile.jpg);
    }

    .preview{
        order: 1;
        text-align: center;
        padding: 2em;
    }

    .preview h1{
        font-size: 1.4em;
    }

    .preview > p, .preview > .statistiques{
        width: 100%;
    }

    .preview > p{
        font-size: 0.85em;
        margin-bottom: 3em;
    }

    .preview .statistiques{
        display: flex;
        flex-direction: column;
        gap: 1.3em;
    }

}